{% load static %}

{% load custom_filters %}




<div class="alert alert-primary" role="alert">
  <table class="table table-bordered">
    <thead class="text-center">
      <tr>
        <th scope="row" colspan="4" class="text-center">CARRITO</th>
      </tr>
      <tr>
        <th scope="col">IMAGEN</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">PRECIO</th>
        <th scope="col">CANTIDAD</th>
      </tr>
    </thead>
    <tbody>
    {% if request.session.carrito %}
    {% for key, value in request.session.carrito.items %}
      <tr>
<td  class="text-center"><img src="{{ value.imagen }}" alt="{{ value.nombre }}" style="width: 100px; height: auto;"></td>
        <td class="btn-cantidad">{{ value.nombre }}</td>
        <td class="btn-cantidad">{{ value.acumulado|currency_format }}</td>
        <td class="btn-cantidad">
          {{ value.cantidad }}
          <button class="badge btn btn-dark btn-restar" data-producto-id="{{ value.producto_id }}">-</button>
          <button class="badge btn btn-dark btn-sumar" data-producto-id="{{ value.producto_id }}">+</button>
      </td>
      </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="4">
            <div class="alert alert-danger text-center">Sin Productos</div>
        </td>
    </tr>
    {% endif %}
      <tr>
        <th scope="row">Total:</th>
        <td colspan="3">{{ total_carrito|currency_format }}</td>
      </tr>
    </tbody>
  </table>
  <hr>
</div>
<div class="row text-center">
  <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-base">Limpiar</a></div>
  <div class="col-6"><a href="{% url 'iniciar_pago' %}" class="btn btn-base">Ir a pagar</a></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Sumar cantidad
        $('.btn-sumar').click(function (e) {
            e.preventDefault();
            const productoId = $(this).data('producto-id');

            $.ajax({
                url: `/agregar/${productoId}/`,
                method: 'POST',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                success: function (response) {
                    location.reload();
                },
                error: function (error) {
                    console.error('Error al agregar producto:', error);
                }
            });
        });

        // Restar cantidad
        $('.btn-restar').click(function (e) {
            e.preventDefault();
            const productoId = $(this).data('producto-id');

            $.ajax({
                url: `/restar/${productoId}/`,
                method: 'POST',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                success: function (response) {
                    location.reload();
                },
                error: function (error) {
                    console.error('Error al restar producto:', error);
                }
            });
        });
    });
</script>
