<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiendita mascotas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>

  {% load custom_filters %}

  

  <!--ENCABEZADO DE PAGINA-->
  <header class="header-container">
    <div class="header-content row row-cols-1 row-cols-sm-2 g-3">
        <div class="col-md-1 col-sm-3">
            <img src="{% static 'img/AmiPet.png' %}" alt="Logo" class="logo">
        </div>
        <div class="col-md-2 col-sm-9">
            <button class="abrir-menu">
                <div class="fs-4 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"></path>
                    </svg>
                    Menú
                </div>
            </button>

            <div>
                <nav class="nav">
                    <button class="cerrar-menu"><i class="bi bi-x"></i></button>
                    <ul class="nav-list">

                        <li><a href="{% url 'Index' %}">Inicio</a></li>
                        <li><a href="{% url 'Tienda' %}">Productos</a></li>

                        {% if not user.is_superuser %}
                          <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                          <li><a href="{% url 'juguetesPerros' %}">Mi Carrito</a></li>
                          <li><a href="{% url 'contacto' %}">Contacto</a></li>
          
                        {% endif %}
                        {% if user.is_superuser %}

                          <li>
                            <a href="{% url 'lista_usuarios' %}">Usuarios</a>
                          </li>

                        {% endif %}
                    </ul>
                </nav>
                <div class="overlay"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar productos..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>

      {% if not user.is_superuser %}
        <div class="col-md-1 col-sm-2 align-items-center justify-content-center">
          <a href="{% url 'juguetesPerros' %}" class="btn-carrito">
            <i class="bi bi-cart-fill"></i>
          </a>
        </div>
      {% endif %}
        
        {% if user.is_authenticated %}
          <div class="dropdown col-md-3 col-sm-6" id="dropdownCuenta">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton">
                ¡Hola! {{ user.username }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'perfil_usuario' %}">Mi Perfil</a></li>
                <li><a id="logout-link" class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-left"></i>   Cerrar Sesión</a></li>
              </ul>
          </div>
        {% else %}
          <div class="dropdown col-md-3 col-sm-6" id="dropdownCuenta">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton">
                ¡Hola! Inicia sesión
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a class="dropdown-item" href="{% url 'registrar_usuario' %}">Registrarse</a></li>
                <li><a class="dropdown-item" href="{% url 'perfil_usuario' %}">Mi Perfil</a></li>
            </ul>
          </div>
        {% endif %}

    </div>
</header>


<div class="container mt-3">
  {% if messages %}
      <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
          {% for message in messages %}
              <div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000" data-bs-autohide="true">
                  <div class="d-flex">
                      <div class="toast-body">
                          {{ message }}
                      </div>
                      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
              </div>
          {% endfor %}
      </div>
  {% endif %}
</div>



    <h4 class="text-center pt-5">Nuestros productos</h4>

    

    <div class="container mt-5">




    
    {% if user.is_superuser %}
    <div class="d-flex justify-content-end mb-3">
    <a href="{% url 'agregar_producto' %}" class="btn btn-base">
        <i class="bi bi-plus-circle-fill"></i> Agregar Producto
    </a>
    </div>
    <div class="d-flex justify-content-end mb-3">
    <a href="{% url 'agregar_categoria' %}" class="btn btn-base">
        <i class="bi bi-plus-circle-fill"></i> Agregar Categoria
    </a>
    </div>
    {% endif %}
    <form method="GET" action="{% url 'Tienda' %}" class="mb-4 mt-5">
    <select name="categoria" id="categoria-select" class="form-select" onchange="this.form.submit()">
        <option value="">Todas las categorías</option>
        {% for categoria in categorias %}
            <option value="{{ categoria.id }}" {% if request.GET.categoria == categoria.id|stringformat:"s" %}selected{% endif %}>
                {{ categoria.nombre }}
            </option>
        {% endfor %}
    </select>
</form>
      <div class="row mt-5">
        <div>
          <div class="row container-items">
            {% for producto in productos %}
              <div class="col-12 col-md-4 col-lg-4 mb-5 card h-100">
                <figure>
                  <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="card-img-top producto-imagen">
                </figure>
                <div class="card-body">
                  <h5 class="card-tittle">{{ producto.nombre }}</h5>
                  <p class="card-text">Stock: {{ producto.stock }}</p>
                  <p class="card-text"> {{ producto.precio|currency_format }}</p>
                  
                  <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-card mb-3">Ver detalles</a>

                  {% if not user.is_superuser %}
                <a href="{% url 'Add' producto.id %}" class="btn btn-card">Añadir al carrito</a>
      {% endif %}
                  {% if user.is_superuser %}
                  <div class="btn-admin">
                    <a href="{% url 'editar_producto' producto.id %}" class="btn btn-card2 mt-3">Editar Producto</a>
                    <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-card3 mt-3">Eliminar Producto</a>
                  </div>

                  

                {% endif %}
                </div>       
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>




  {% if not user.is_superuser %}
    <footer class="container-footer">
    <div class="row w-100">
      <div class="col-md-4 footer1 mt-4">
        <a class="navbar-brand logo-footer" href="index.html">
          <img src="{% static 'img/AmiPet.png' %}" alt="logo" width="70" height="70" class="logo">
        </a>      
        <ul class="list-footer mt-4">
          <h5>Acerca de AmiPet</h5>
          <li><a href="#" class="nav-link">Nosotros</a></li>
          <li><a href="#" class="nav-link">Preguntas Frecuentes</a></li>
          <li><a href="#" class="nav-link">Informacion</a></li>
          <li><a href="#" class="nav-link">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer2 mt-4">
        <ul class="list-footer">
          <h5>Productos</h5>
          <li><a href="#" class="nav-link">Productos</a></li>
          <li><a href="#" class="nav-link">Productos Destacados</a></li>
          <li><a href="#" class="nav-link">Ofertas</a></li>
          <li><a href="#" class="nav-link">Mi Pedido</a></li>
          <li><a href="#" class="nav-link">Carrito de Compras</a></li>
          <li><a href="#" class="nav-link">Seguimiento</a></li>
          <li><a href="#" class="nav-link">Juguetes</a></li>
          <li><a href="#" class="nav-link">Accesorios</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-redes text-center mt-4 mb-4">
        <div>
          <h5>Síguenos</h5>
          <i class="bi bi-whatsapp" style="font-size: 24px;"></i>
          <i class="bi bi-instagram" style="font-size: 24px;"></i>
          <i class="bi bi-facebook" style="font-size: 24px;"></i>
        </div>
      </div>
    </div>
  </footer>

  {% endif %}






    <script>
    document.getElementById('select-categoria').addEventListener('change', function() {
        document.getElementById('filtro-categoria').submit(); // Enviar el formulario automáticamente
    });
</script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>